<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  To contact us please visit The <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> and send an email to my address.
</p>